body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}


.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
  color: red;
  font-size: 24px;
  padding: 20px;
  border: 2px solid red;
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
  color: red;
  font-size: 24px;
  padding: 20px;
  border: 2px solid red;
}
